<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block breadcrumbs %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>